body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.levels {
  position: relative;
  float: right; /* add this */
  
  /* margin-left:80px; */
  top: 8px;
  height: 3px;
  width: 90%;
  /* background-color: red; */
}
.attributes {
  position: relative;
  float: right; /* add this */
  
  /* margin-left:80px; */
  top: 8px;
  height: 3px;
  width: 90%;
  /* background-color: red; */
}

.combat {
  position: relative;
  float: right; /* add this */
  top: 8px;
  
  /* margin-left:80px; */
  height: 3px;
  width: 90%;
  /* background-color: blue; */
}
.civil {
  position: relative;
  float: right; /* add this */
  top: 8px;
  
  /* margin-left:90px; */
  height: 3px;
  width: 90%;
  /* background-color: green; */
}
.levelsDot {
  position: relative;
  text-align: center;
  top: 3px;
  left: 3px;
  height: 17px;
  width: 17px;
  background-color: lightgrey;
}
.attributeDot {
  position: relative;
  text-align: center;
  top: 3px;
  left: 3px;
  height: 17px;
  width: 17px;
  background-color: orange;
}
.combatDot {
  position: relative;
  text-align: center;
  top: 3px;
  left: 3px;
  height: 17px;
  width: 17px;
  background-color: orange;
}
.civilDot {
  position: relative;
  text-align: center;
  top: 3px;
  left: 3px;
  height: 17px;
  width: 17px;
  background-color: orange;
}
#levelsOuter{
  position: relative;
  background-color: gray;
  top: -9px;
  width: 23px;
  height: 23px;
}
#attributeDropZone{
  position: relative;
  background-color: rgba(255, 55, 55, 0.397);
  top: -9px;
  width: 23px;
  height: 23px;
}
#combatDropZone{
  position: relative;
  background-color: rgba(83, 83, 255, 0.397);
  top: -9px;
  width: 23px;
  height: 23px;
}
#civilDropZone{
  position: relative;
  background-color: rgba(11, 78, 11, 0.397);
  top: -9px;
  width: 23px;
  height: 23px;
}
#attributeDropZone:hover{
  background-color: rgb(12, 107, 0);
  cursor: pointer;
  cursor: hand;
}
#combatDropZone:hover{
  background-color: rgb(12, 107, 0);
  cursor: pointer;
  cursor: hand;
}
#civilDropZone:hover{
  background-color: rgb(12, 107, 0);
  cursor: pointer;
  cursor: hand;
}
.attributeDot:hover {
  background-color: rgb(255, 220, 154);
  cursor: pointer;
  cursor: hand;
}
.combatDot:hover {
  background-color: rgb(255, 220, 154);
  cursor: pointer;
  cursor: hand;
}
.civilDot:hover {
  background-color: rgb(255, 220, 154);
  cursor: pointer;
  cursor: hand;
}
.levels > div {
  width: calc(100% / 25);
  /* position: absolute; */
  display: inline-block;

}
.attributes > div {
  width: calc(100% / 25);
  /* position: absolute; */
  display: inline-block;

}
.combat > div {
  width: calc(100% / 25);
  /* position: absolute; */
  display: inline-block;

}
.civil > div {
  width: calc(100% / 25);
  /* position: absolute; */
  display: inline-block;

}
#attribute {
  width: 100%;
  overflow: hidden; /* add this to contain floated children */
}
#label {
  width: auto;
  float:left; /* add this */  
}


